<div>
  <div class="photoicon">
    <%= link_to image_tag('photoicon.png' , size: '200x200'), "/" %>
  </div>
  <div class="photo-sell-contents">
    <div class="photo-sell-main">
      <h2 class="photo-sell-title">写真とその情報の入力</h2>
      <%= render partial: "form"%>
    </div>

    <footer class="photo-sell-footer">
      <p class="inc">
        Copyright © PhotoBank All rights reserved.
      </p>
    </footer>
  </div>
</div>