* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.photoicon {
  text-align : center;
}

.box {
  width: 350px;
  height: 430px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box2 {
  width: 400px;
  height: 1070px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-weight: 400px;
  font-size: 27px;
  line-height: 1.2;
  margin: 20px 0 10px 50px;
  padding-bottom: 4px;
  color: #111111;
  text-align: center;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 15px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.legal-text {
  margin-top: 18px;
  font-size: 12px;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.box-password a {
  font-size: 13px;
}

.form-group {
  width: 89%;
  display: flex;
  flex-direction: column;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 180px;
  height: 45px;
  padding: 10px 20px 8px;
  border-radius: 4px;
  border: 1px solid rgb(185, 185, 185);
  background: #fff;
  font-size: 16px;
  resize: none;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
}

.input-name {
  width: 150px;
  margin: 5px 20px 0 0;
  height: 35px;
  line-height: 30px;
  padding: 0 0 0 8px;
  border-radius: 4px;
  border: 1px solid rgb(185, 185, 185);
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 60px;
  margin: 5px 0 0 0;
  height: 35px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid rgb(185, 185, 185);
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  margin: 0 0 0 5px;
  padding: 0 5px;
}

.register-red-btn {
  width: 100%;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border: 1px #a88734 solid;
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0 0 18px;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}

.input-default2 {
  width: 340px;
  height: 120px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid rgb(185, 185, 185);
  background: #fff;
  font-size: 16px;
  resize: none;
}

.input-prefecture-wrap {
  display: flex;
}

.input-prefecture {
  width: 150px;
  margin: 5px 20px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 8px;
  border-radius: 4px;
  border: 1px solid rgb(185, 185, 185);
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-gender-wrap {
  display: flex;
}

.input-gender {
  width: 150px;
  margin: 5px 20px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 8px;
  border-radius: 4px;
  border: 1px solid rgb(185, 185, 185);
  background: #fff;
  font-size: 14px;
  resize: none;
}